<h1>Stock Lookup</h1>

<%= form_with url: "/lookup", method: :get do |form| %>
  <%= form.label :ticker_symbol, "Ticker Symbol:" %>
  <%= form.text_field :ticker_symbol %>
  <%= form.submit "Search" %>
<% end %>

<% if @result %>

  <% if @result[:error] %>
    <p style="color: red;"><%= @result[:error] %></p>
  <% else %>
    <p><strong>Name: </strong> <%= @result[:name] %></p>
    <p><strong>Price: </strong> $<%= @result[:price] %></p>
    <p><strong>P/E Ratio: </strong> <%= @result[:pe] %></p>
    <p><strong>EPS: </strong> <%= @result[:eps] %></p>
  <% end %>

<% end %>